<!DOCTYPE html>
<html ng-app="d3compilation">
  <head>
    <meta charset="utf-8">
    <title>D3 Compilation</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles.css" >
  </head>
  <body ng-controller="mainCtrl">
    <h1>D3 Compilation</h1>
    <hr>
    <h3>These are some input boxes. Go ahead and type in a bunch of numbers.</h3>
    <div class="inputcontainer">
      <input type="text" ng-model="arr[0].number"><input type="text" ng-model="arr[1].number"><input type="text" ng-model="arr[2].number"><input type="text" ng-model="arr[3].number"><input type="text" ng-model="arr[4].number"><input type="text" ng-model="arr[5].number"><input type="text" ng-model="arr[6].number"><input type="text" ng-model="arr[7].number"><input type="text" ng-model="arr[8].number"><input type="text" ng-model="arr[9].number"><input type="text" ng-model="arr[10].number"><input type="text" ng-model="arr[11].number"><input type="text" ng-model="arr[12].number"><input type="text" ng-model="arr[13].number"><input type="text" ng-model="arr[14].number"><input type="text" ng-model="arr[15].number"><input type="text" ng-model="arr[16].number"><input type="text" ng-model="arr[17].number"><input type="text" ng-model="arr[18].number"><input type="text" ng-model="arr[19].number">
    </div>
    <hr>
    <div class="charts">
      <div class="barchart" ng-controller="barCtrl">
        <h3>Bar Chart</h3>
        <div class="bars"></div>
      </div>
      <div class="bubblypiechart" ng-controller="bubblyPiCtrl">
        <h3>Bubbly Pie Chart</h3>
        <div class="bubblypies"></div>
      </div>
      <div class="donutpiechart" ng-controller="piCtrl">
        <h3>Donut Pie Chart</h3>
        <div class="donutpies"></div>
      </div>
      <div class="circlechart" ng-controller="circleCtrl">
        <h3>Circle Chart</h3>
        <div class="circles"></div>
      </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="./d3.js"></script>
    <script src="./app.js" type="text/javascript"></script>
    <script src="./controllers/mainCtrl.js" type="text/javascript"></script>
    <script src="./controllers/barCtrl.js" type="text/javascript"></script>
    <script src="./controllers/bubblyPiCtrl.js" type="text/javascript"></script>
    <script src="./controllers/piCtrl.js" type="text/javascript"></script>
    <script src="./controllers/circleCtrl.js" type="text/javascript"></script>
    <script src="./mainServ.js" type="text/javascript"></script>
  </body>
</html>
