input {
  width: 50px;
  font-family: "Oswald";
  font-size: 20px;
  text-align: center;
}

h1 {
    margin: 0;
}

body, h1, h3 {
  text-align: center;
  font-family: "Oswald";
  color: #fff;
}
body {
  background-color: rgba(48, 47, 69, 0.8)
}
h3 {
  margin: 10px;
}

div {
  border-radius: 5px;
}

.inputcontainer, .charts {
  margin: 10px auto;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.barchart, .bubblypiechart, .donutpiechart {
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.circlechart {
  width: 276px;
  display: inline-block;
  margin: 10px;
}

.bars, .bubblypies, .donutpies {
  width: 276px;
  height: 276px;
  border: 2px solid #8d8d8d;
  padding: 10px;
}

.circles {
  width: 276px;
  height: 276px;
  border: 2px solid #8d8d8d;
  padding: 10px;
}

.bar {
  width: 20px;
}
